header {
    padding: 20px 35px;
    background-color: #3b39b2;
  }
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #7338fc;
    margin: 50px;
    display: inline;
    text-align: center;
  }
h1{
    text-align: center;
}
header a {
    text-decoration: none;
    color: white;
    text-align: center;
  }

#warning {
  color: rgb(255, 174, 163);
  background-color: rgba(255, 0, 0, 0.507);
}

/* images in show cards too big/ too small */
.col-4-img img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
  width: auto;
  overflow: hidden;
  }

@media(min-width:468px){
    .row{
      display:flex;
      align-items:flex-start;
      align-items:flex-end;
      align-items:left;
      flex-direction:row;
      
    }
}

.row{
    border:0px #ccc solid;
    padding:10px;
    
}
/* Search box styling*/
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  justify-content: left;
  align-items: left;
  background-color: #130f40;
  color: white;
  padding-bottom: 250px;
}
.city-search, .band-search{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.form-input{
  height: 50px;
  width: 200px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#fff;
}
.form-input::placeholder{
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn:focus ~ .form-input{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.form-input:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.col-4{
 width: 100%; 
}

.col-8{
  position: center;
}

.col-4-img{
  width: 33%;
}

.col-8-img{
  width: 66%
}

.col-2 {
  width: 10%;
}

.btm-img {
  height: auto; 
  width: auto; 
  max-width: 250px; 
  max-height: 250px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(43, 0, 0);
  color: white;
  text-align: center;
  max-height:fit-content;
}